* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
.logo {
  cursor: pointer;
}
.path {
  display: flex;
  padding: 15px 12.5%;
  margin: 20px auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  background-color: #f3f2ee;
}
.path a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.path div a:first-child {
  cursor: pointer;
}
.path div a:nth-child(2) {
  color: gray;
}
.cont {
  width: 75%;
  margin: 30px auto;
}
.info {
  display: flex;
  margin-left: 30px;
}
.center {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  text-align: center;
  background-color: #f3f2ee;
}
.spon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 120px;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 25%;
  margin-top: 30px;
}
.clients img {
  margin: 50px;
}
.card {
  margin-right: 20px;
}
