* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
.logo {
  cursor: pointer;
}
.content {
  height: 600px;
  display: flex;
}
.left-info,
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}
.left-info * {
  margin: 15px 20px;
}

.right-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
}

#name,
#email,
#password {
  padding: 10px;
  width: 100%;
  border: 1px solid gray;
  background-color: white;
  margin: 10px 0;
}
#message {
  padding: 10px 10px;
  text-align: left;
  margin-top: 20px;
}

.submit {
  margin-top: 30px;
  color: white;
  background-color: black;
  padding: 20px 20px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
}
.submit:hover {
  background-color: rgba(0, 0, 0, 0.445);
  color: white;
  border: 1px solid;
  border-radius: 3px;
}
#emaill {
  padding: 10px;
  background-color: rgb(17, 17, 17);
  color: rgb(128, 128, 128);
  border: 0px;
  border-bottom: 3px solid white;
}
.fa-envelope {
  position: absolute;
  right: 40px;
  bottom: 10px;
}
